@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

*,
*::before,
*::after {
  text-decoration: none !important;
}
:root {
  --navbar-color: rgba(228, 44, 173, 0.92);
  --navbar-color: rgba(27, 127, 204, 1);
  --pale-blue: #90aeff;
  --light-green: #cefc86;
  --pale-green: #60efb8;
  --light-grey: #f9f7f7;
  --presidente-green: #299b46;
}
.show {
  display: block;
}
.is-hidden {
  position: absolute;
  left: -200em;
  width: 0;
  height: 0;
  overflow: hidden;
  display: none;
}
body {
  background: black;
  background-image: linear-gradient(145deg, #43e97b 0%, #38f9d7 100%);
  position: relative;
  /* margin-top: -56px; */
  min-height: 100vh;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  transition: color 150ms;
}
a:link,
a:visited {
  color: black;
}
a:hover {
  color: rgba(0, 0, 0, 0.5);
}
hr {
  border-color: rgba(25, 25, 25, 0.6);
}
article {
  margin-bottom: 4.5rem;
}
ul {
  margin-left: 0;
  padding-inline-start: 20px;
}
.navbar,
.dropdown-menu {
  background: var(--presidente-green);
}

.navbar-dark .navbar-toggler {
  border-color: #ddd;
  color: #ddd !important;
}

.nav-link {
  color: white !important;
  transition: color 140ms;
  font-weight: bolder;
}
.dropdown-menu {
  color: white;
  background: var(--presidente-green);
}
.dropdown-item {
  color: white !important;
  font-weight: bolder;
}
.dropdown-item:hover {
  background: rgba(255, 255, 255, 0.1);
}
main.container {
  color: white;
  padding: 0;
}
h3 {
  font-weight: 900;
}
/* Hero Section */

.hero {
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/img/basketball-1.jpeg");
  background-size: cover;
  background-position: center;
  font-weight: 300;
  margin: 0;
  position: relative;
  height: calc(100vh - 56px);
  height: -o-calc(100vh - 56px); /* opera */
  height: -webkit-calc(100vh - 56px); /* google, safari */
  height: -moz-calc(100vh - 56px); /* firefox */
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 0.5fr 1fr minmax(5vh, 1.5fr) 1fr 0.5fr 0.25fr;
  overflow: hidden;
}
.titlebox {
  text-align: center;
  padding: 0;
  grid-row: 2/3;
}
.title,
.subtitle,
.headline {
  color: rgba(255, 255, 255, 0.925);
}
.title {
  font-weight: 500;
  margin-bottom: 10px;
  padding: 0 0.5rem;
}
.subtitle {
  color: rgba(255, 255, 255, 0.925);
  font-size: 14px;
  font-weight: bolder;
  margin: 0 auto 10px;
}
.logo {
  --logo-size: 100%;
  width: var(--logo-size);
  height: var(--logo-size);
  opacity: 0.85;
  grid-row: 3/4;
}
.headline {
  font-size: 1rem;
  margin: 0 auto 1rem;
  padding: 0 0.5rem;
  grid-row: 4/5;
  width: 88%;
  max-width: 1080px;
}
.hero a.btn {
  background: rgb(248, 175, 39);
  padding: 0.5rem 1rem;
  font-size: 16px;
  font-weight: 700;
  transition: background 150ms;
  grid-row: 5/6;
}
.hero a.btn:hover {
  background: rgb(255, 125, 3);
}

/* /Hero Section */

.about,
.support,
.contact,
.campaign {
  padding: 1.5rem 0.75rem;
}

.about {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  color: rgb(43, 43, 43);
}

.mission {
  background: #0b84bf;
  background: rgb(11, 132, 191);
  background: radial-gradient(
    circle,
    rgba(11, 132, 191, 1) 0%,
    rgba(11, 78, 191, 1) 400%
  );
  color: azure;
  padding: 2rem 1.5rem;
  border-radius: 3px;
}
.mission p {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: 300;
  text-align: justify;
  line-height: 1.4;
}
.board .card {
  color: rgb(38, 38, 38);
  margin-bottom: 3rem;
  cursor: pointer;
}
.board h5 {
  font-weight: 700;
}
.card-img {
  width: 150px;
  height: 150px;
  margin: 0 auto 1rem;
  display: block;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 0;
}
.card p {
  font-size: 1rem;
  line-height: 1.8;
}
.support {
  background: var(--pale-blue);
  color: black;
}
.support a.btn {
  display: block;
  width: 100px;
  height: 100%;
  margin: 1.5rem auto 0;
}

.campaign {
  background-color: #DAE4E9;
  color: black
}

.grid-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  margin: 0;
  padding: 0;
  width: 100%;
  margin: 5px 0;
}

.grid-item {
  height: 100px;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 15px 5px;
  position: relative;
  margin-bottom: 1px;
  transition: all .2s ease-in;
}

.grid-item:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.grid-item.grayout:hover {
  cursor: not-allowed;
  transform: scale(1);
}

.tool {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  color: transparent;
  display: none;
}

.tool .toolttext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -60px;
  top: -55px;
}

.tool:hover .toolttext {
  visibility: visible;
}

.tool .toolttext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.item-name.active{
  display: none;
}

.item-price{
  font-size: 1.3em;
  font-weight: bold;
  color: black;
  position: absolute;
  top: -10px;
  width: 100%;
  text-align: center;
}

.golf {
  background-image: url('/img/balls/golf.png');
}

.golf.grayout {
  background-image: url('/img/balls/golfGray.png');
}

.tennis {
  background-image: url('/img/balls/tennis.png');
}

.tennis.grayout {
  background-image: url('/img/balls/tennisGray.png');
}

.baseball {
  background-image: url('/img/balls/baseball.png');
}

.baseball.grayout {
  background-image: url('/img/balls/baseballGray.png');
}

.football {
  background-image: url('/img/balls/football.png');
}

.football.grayout {
  background-image: url('/img/balls/footballGray.png');
}

.americanball {
  background-image: url('/img/balls/americanball.png');
}

.americanball.grayout {
  background-image: url('/img/balls/americanballGray.png');
}

.basketball {
  background-image: url('/img/balls/basketball.png');
}

.basketball.grayout {
  background-image: url('/img/balls/basketballGray.png');
}

/* POP UP */

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.pop-up-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pop-up-buttons button{
  background: var(--presidente-green);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
}

.pop-up-buttons button:hover{
  background-color: #26bd4b;
}

.pop-up-buttons #cancelButton{
  background-color: #fff;
  color: #26bd4b;
  border: 2px #26bd4b solid;
}

.pop-up-buttons #cancelButton:hover{
  background: var(--presidente-green);
  border: 2px #fff solid;
  color: white;
}

/*  */

.gallery {
  background: hsl(261, 93%, 57%);
}

.picture-grid {
  display: grid;
  justify-content: center;
}

.gallery img {
  width: 100%;
  height: 100%;
}

figure {
  background: rgba(0, 0, 0, 0.25);
  padding: 1.75rem 1rem;
  border-radius: 5px;
}

.gallery hr {
  border-radius: 5px;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.4);
}

figcaption {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 500;
}

.contact {
  background: var(--light-grey);
  color: black;
}
.footer {
  user-select: none;
  background: rgb(43, 43, 43);
}
.footer ul {
  margin: 0;
  padding: 0;
}
.footer ul li {
  list-style-type: none;
  padding: 3rem 0;
  margin: 0;
}
.social-media-icon {
  --icon-size: 30px;
  width: var(--icon-size);
  height: var(--icon-size);
  fill: azure;
  transition: fill 200ms ease;
}
.social-media-icon:hover {
  fill: rgba(240, 255, 255, 0.562);
}
.copyright {
  color: rgba(115, 115, 115, 1);
  font-size: 0.9rem;
  padding: 0 0 1rem 0;
  margin: 0;
  text-align: center;
  transition: color 70ms ease-in;
}
.copyright:hover {
  color: rgba(240, 255, 255, 0.562);
}

footer hr {
  border-color: white;
  color: white;
}

.events {
  display: none;
}

@media (min-width: 375px) {
  .subtitle,
  .headline {
    font-size: 18px;
  }
  .about,
  .support,
  .contact,
  .gallery,
  .campaign {
    padding: 2.5rem 1.75rem;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .title {
    font-size: 48px;
  }
  .subtitle {
    font-size: 22px;
  }
  .hero a.btn {
    margin-bottom: 2rem;
  }
  .headline {
    font-size: 28px;
    max-width: 768px;
  }
  main.container {
    margin: 0 auto;
    width: 90%;
    max-width: 768px;
  }
  .about,
  .support,
  .contact,
  .gallery,
  .campaign {
    padding: 4.5rem;
  }
  .overview {
    margin-bottom: 3em;
  }
  .mission {
    border-radius: 5px;
    padding: 2rem;
    margin: 2rem 0;
  }
  .card p {
    display: block;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10%, 1fr));
    margin: 5px 0;
  }
  .grid-item {
   margin: 20px 10PX;
  }
  .item-price{
    top: -30px;
  }
  .tool {
    display: block;
  }
  .tool .toolttext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -60px;
}
}

@media (min-width: 1280px) {
  .hero {
    grid-template-rows: 0.35fr 1fr 0.5fr 0.5fr 0.25fr;
  }
  .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .logo {
    --logo-size: 230px;
    position: absolute;
    left: 10%;
    top: -100%;
  }
  .titlebox {
    margin: 0;
  }
  .title {
    font-size: 50px;
    margin: 2rem;
  }
  .subtitle {
    margin: 0.5rem;
  }
  .hero a.btn {
    grid-row: 3/4;
    display: grid;
    place-items: center;
  }
  .headline {
    font-size: 28px;
    text-align: center;
    max-width: 1200px;
  }
  main.container {
    margin: 0 auto;
    max-width: 1140px;
  }
  .about,
  .support,
  .contact,
  .campaign {
    padding: 7rem;
  }
  .mission {
    padding: 2.5rem;
    border-radius: 5px;
    margin: 50px 3rem;
  }
  .card-header {
    float: left;
    margin: 0 1rem 1rem 0;
  }
  .social-media-icon {
    --icon-size: 50px;
  }
}

@media (min-width: 1600px) {
  .title {
    font-size: 70px;
  }
  .subtitle {
    font-size: 28px;
  }
  .headline {
    font-size: 36px;
  }
  .board {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-height: 545px) {
  .headline {
    display: none;
  }
  .logo {
    grid-row: span 2;
  }
}

main.host-a-drive {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  color: rgb(43, 43, 43);
  padding: 2.5rem 1.5rem;
  min-height: 100%;
}
